body {
  margin: 0;
  color: #111111;
}

.result {
  margin: 1em 0;
  padding: 1em;
  background-color: #DDDDDD;
}

.result.missing {
  background-color: #FF4136;
}

.result.moved {
  background-color: #FFDC00;
}

.confidence {
  font-weight: bold;
  font-size: 20px;
}

img {
  height: 150px;
}

th {
  font-weight: normal;
  font-style: italic;
}

table {
  border: none;
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
  display: block;
  padding-top: 1em;
}

table td, table th {
  border-left: 1px solid #111111;
  padding: 5px;
}

table th {
  border-bottom: 1px solid #111111;
}

table td:first-child, table th:first-child {
  border-left: none;
}

.controls {
  position: fixed;
  background-color: #7FDBFF;
  padding: 1em;
  top: 0;
  width: 100%;
}

.results {
  padding-top: 10em;
}

.slider {
  width: 200px;
  height: 50px;
}

.hidden {
  visibility: hidden;
}

#birthday-filter {
  width: 300px;
}

#name-search {
  width: 300px;
}
